.responsive-contact-form #captchaimg {
   box-shadow: none;
   float: left;
   height: 32px; 
}
.responsive-contact-form #refresh {
   border: 0 none;
   float: left;
   margin: 7px 10px;
}
.responsive-contact-form #note {
   clear: both;
   float: left;
   margin-left: 140px;
}

.responsive-contact-form .clearfix { *zoom: 1;}
.responsive-contact-form .clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.responsive-contact-form .clearfix:after { clear: both; }
.responsive-contact-form form { margin: 5px 0 20px; }
.responsive-contact-form fieldset { padding: 0; margin: 0; border: 0; }
.responsive-contact-form label, .responsive-contact-form input, .responsive-contact-form button, .responsive-contact-form select, .responsive-contact-form textarea { font-size: 14px; font-weight: normal; line-height: 20px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.responsive-contact-form label { display: block; margin-bottom: 5px; }
.responsive-contact-form select,  .responsive-contact-form textarea,  .responsive-contact-form input[type="text"] { display: inline-block; padding: 4px 6px; height: 20px\9; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: #000; vertical-align: middle; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; outline: none !important; color: none; !important;
}
.responsive-contact-form input, .responsive-contact-form textarea { width: 270px; }
.responsive-contact-form textarea { height: auto; word-break: break-word; }
.responsive-contact-form textarea,  .responsive-contact-form input[type="text"] { background-color: #ffffff; border: 1px solid #cccccc; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s;}
.responsive-contact-form textarea:focus,  .responsive-contact-form input[type="text"]:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; /* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }
.responsive-contact-form .input-xlarge { width: 270px; }
.responsive-contact-form .input-xxlarge { width: 530px; }
.responsive-contact-form .control-group { margin-bottom: 10px; }
.responsive-contact-form .form-horizontal .control-group { margin-bottom: 0px; *zoom: 1;
}
.responsive-contact-form .form-horizontal .control-group:before,  .form-horizontal .control-group:after { display: table; line-height: 0; content: ""; }
.responsive-contact-form .form-horizontal .control-group:after { clear: both; }
.responsive-contact-form .form-horizontal .control-label { float: left; width: 130px; padding-top: 3px; text-align: right; }
.responsive-contact-form .form-horizontal .control-label {
*display: inline-block;
*padding-right: 20px; margin-right: 10px; *margin-right: 0;
}
.responsive-contact-form .form-horizontal .controls:first-child { *padding-left: 180px;
}
.responsive-contact-form .req { color: #F00; font-size: 12px; margin-left: 5px; }
.responsive-contact-form #captcha { float: left; margin-right: 10px; margin-bottom: 0px; }
.responsive-contact-form #captchaimg { box-shadow: none; height: 32px; }
.responsive-contact-form #refresh { border: 0px; margin-bottom: 7px; }
.responsive-contact-form .btn-submit { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background: #5bb75b; border: 0px !important; margin: 10px 0 0 140px; }
.responsive-contact-form #note { margin-left: 140px; }
#fmsg{margin-left: 140px;}
/*#smsg{margin-left: 50px;}*/
#smsg{font-size: 14px;font-weight:300; }
.responsive-contact-form .btn-submit:hover, .responsive-contact-form .btn-submit:focus { color: #ffffff; background: #009900 !important; }
.responsive-contact-form input.valid { border-color: #00A400; }
.responsive-contact-form input.error { background-color: #FFE8E8 !important; color: #ff0000 !important; border-color: #F00; }
.responsive-contact-form .control-group .controls { position: relative; }
.responsive-contact-form .controls label.error { position: absolute; top: -5px; font-size: 10px; line-height: 100%; font-weight: normal; font-family: Tahoma, Geneva, sans-serif; color: #FFF; background: #CB2001; padding: 3px 5px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; }
.responsive-contact-form textarea.error { background-color: #FFE8E8 !important; color: #ff0000 !important; border-color: #F00; }
.responsive-contact-form .txtareawidth { width: 70% !important; }
.responsive-contact-form .control-group label.error { position: absolute; left: 140px; top: -5px; font-size: 10px; line-height: 100%; font-weight: normal; font-family: Tahoma, Geneva, sans-serif; color: #FFF; background: #CB2001; padding: 3px 5px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; }
.lt-ie8 .responsive-contact-form .control-group label.error { margin-left: 20px; }
.responsive-contact-form .alert { padding: 8px 35px 8px 14px; margin-bottom: 20px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.responsive-contact-form .alert-success { background-color: #dff0d8; border-color: #d6e9c6; color: #468847; }
.responsive-contact-form #ai_sendcopy { width: auto; margin-left: 140px; margin-right: 5px; }
 @media (min-width: 481px) and (max-width: 767px) {
.responsive-contact-form input, .responsive-contact-form textarea, .responsive-contact-form .input-xlarge { max-width: 270px; width: 100%; }
.responsive-contact-form .control-group .controls { clear: both; }
.responsive-contact-form .btn-submit { margin: 10px 0 0 0px; }
.responsive-contact-form #note { margin-left: 0px; }
.responsive-contact-form .control-group label.error { left: 0px; }
.responsive-contact-form .form-horizontal .control-label { text-align: left; }
.responsive-contact-form #ai_sendcopy { margin-left: 0px; }
}
 @media (max-width: 480px) {
.responsive-contact-form .form-horizontal .control-label { float: none; width: auto; padding-top: 0; text-align: left; }
.responsive-contact-form .form-horizontal .controls { margin-left: 0; }
.responsive-contact-form .form-horizontal .control-list { padding-top: 0; }
.responsive-contact-form .form-horizontal .form-actions { padding-right: 10px; padding-left: 10px; }
.responsive-contact-form .input-xlarge { width: 100%; max-width: 270px; }
.responsive-contact-form input, .responsive-contact-form textarea { width: 100%; max-width: 270px; }
.responsive-contact-form .btn-submit, .responsive-contact-form #note { margin-left: 0px; }
.responsive-contact-form .form-horizontal .captcha-div { clear: both; }
.responsive-contact-form .control-group label.error { left: 0px; }
.responsive-contact-form .form-horizontal .control-label { text-align: left; }
.responsive-contact-form #ai_sendcopy { margin-left: 0px; }
}
