.faulh-form-table, .faulh-form-table td, .faulh-form-table td p, .faulh-form-table th {
    font-size: 14px;
}

.faulh-form-table {
    border-collapse: collapse;
    margin-top: .5em;
    width: 100%;
    clear: both;
}

.faulh-form-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}