/*
admin css for the plugin - user login history
*/
 
.is_status_online,  .is_status_offline, .is_status_idle{min-width: 80px;}

.is_status_online:before{
    background-color:  #5ace5a;
    content: ""; margin-right: 3px; 
    width: 10px; height: 10px; border-radius: 50%;  display: inline-block;
}
.is_status_offline:before{
    background-color:   #ff6a44;
    content: "";  margin-right: 3px;
    width: 10px; height: 10px; border-radius: 50%;  display: inline-block;
}
.is_status_idle:before{
    background-color:   #cccccc;
    content: "";  margin-right: 3px;
    width: 10px; height: 10px; border-radius: 50%;  display: inline-block;
}



.faulh-search-filter{
	
}

.faulh-search-filter .firstRow,
.faulh-search-filter .secondRow,
.faulh-search-filter .thirdRow
{background-color: #fff; padding:10px ;  display: block; margin-bottom: 1px;}



.faulh-search-filter .firstRow input, .faulh-search-filter .firstRow select
{display: inline; background-color: #FFF; border: solid 1px #e0e0e0; min-height: 30px;
vertical-align: middle;     width: 32.30%; float: left; margin-right: 1.33%}
.faulh-search-filter .firstRow select{margin-right: 0px; float: right;}


.faulh-search-filter .secondRow input
{display: inline; background-color: #FFF; border: solid 1px #e0e0e0; min-height: 30px;
vertical-align: middle;    width: 15.4%; float: left; margin-right: 1.33%}

.faulh-search-filter .secondRow input:last-child{margin-right: 0px; float: right;}

.faulh-search-filter .thirdRow select
{display: inline; background-color: #FFF; border: solid 1px #e0e0e0; min-height: 30px;
vertical-align: middle;        width: 23.9%; float: left; margin-right: 1.33%}

.faulh-search-filter .thirdRow select:last-child{margin-right: 0px; float: right;}
.submitAction{margin-top: 10px;}

.faulhbtn,
.faulhbtn-primary,
.faulhbtn-secondary {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.faulhbtn,
.faulhbtn-secondary {
    color: #555;
    border-color: #cccccc;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;
}

p .faulhbtn {
    vertical-align: baseline;
}

.faulhbtn:hover,
.faulhbtn-secondary:hover,
.faulhbtn:focus,
.faulhbtn-secondary:focus {
    background: #fafafa;
    border-color: #999;
    color: #222;
}

.faulhbtn:focus,
.faulhbtn-secondary:focus {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.faulhbtn:active,
.faulhbtn-secondary:active {
    background: #eee;
    border-color: #999;
    color: #333;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}

.faulhbtn-primary {
    background: #2ea2cc;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5), 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.5), 0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    text-decoration: none;
}

.faulhbtn-primary:hover,
.faulhbtn-primary:focus {
    background: #1e8cbe;
    border-color: #0074a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
    color: #fff;
}

.faulhbtn-primary:focus {
    border-color: #0e3950;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.6), 1px 1px 2px rgba(0,0,0,0.4);
}

.faulhbtn-primary:active {
    background: #1b7aa6;
    border-color: #005684;
    color: rgba(255,255,255,0.95);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    vertical-align: top;
}

.listingOuter .faulh_admin_users{
	margin-top: 20px;
	width: auto;
	min-width: 100%;	
}

.listingOuter form{overflow: auto; max-width: 100%;}
.listingOuter{ position: relative;padding: 30px 0;}
.tablenav{
    left: 0;
    right: 0;
        position: absolute;
}

.top{
	top: 0
}
.bottom{
	bottom: 0
}


@media  (max-width: 1024px) and (min-width: 768px){

.faulh-search-filter .firstRow input, .faulh-search-filter .firstRow select{
	width: 31%; margin:1% !important;
}

.faulh-search-filter .secondRow input,
.faulh-search-filter .thirdRow input,
.faulh-search-filter .secondRow select,
.faulh-search-filter .thirdRow select{
	width: 48%; margin:1% !important;
}

}

@media  (max-width: 767px){
.faulh-search-filter .firstRow input,
.faulh-search-filter .secondRow input,
.faulh-search-filter .thirdRow input,
.faulh-search-filter .firstRow select,
.faulh-search-filter .secondRow select,
.faulh-search-filter .thirdRow select{
	width: 100%; margin:5px 0px;
}

}